.info-widget {
  width: 31.75%;
  /* border: 1px solid black; */
  display: inline-block;
}

.middle {
  float: left;
  width: 90%;
  overflow: auto;
  /*will change this to hidden later to deny scolling to user*/
  white-space: nowrap;
}

.custom-slider-main{
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}
.movieId{
  display: none;
}

  .table-wrap {
    height: 680px;
    overflow-y: auto;
  }
