<div class="container">
  <div class="container">

  <p class="text-center mt-3 pt-3 mb-5 pb-3">  Please Rate at least 5 movies to see some recomendations </p>
  <div class="text-center mb-2"> <button *ngIf="fiveRatings" (click)="getrecommendations()" class="btn btn-primary text-center mx-auto"> Get Movies Recommendation</button></div>
  <div class="movies-recommended mt-3 mb-2" *ngIf="recomendation">
    <div class="container mt-5 mb-5" >
      <div style="float: left">
          <button (click)="scrollLeft()">left</button>
      </div>

      <div #widgetsContent class="middle">
          <div class="info-widget" *ngFor="let movie of moviesRecommended">
            <mat-card class="example-card m-3" >
              <mat-card-header>

                <mat-card-title></mat-card-title>
                <mat-card-subtitle><strong class="text-wrap">{{movie.title}}</strong>
                  <!-- <div *ngFor="let cat of movie.categoryList"  style="height: 50px;">
                    <p *ngIf="cat[0]" [ngClass]="cat">{{cat}}</p>
                  </div> -->
                </mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="../assets/moviesBackground.png" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                </p>
              </mat-card-content>
              <mat-card-actions>

              </mat-card-actions>
            </mat-card>
          </div>

      </div>

      <div style="float: right">
          <button (click)="scrollRight()">right</button>
      </div>
      </div>


  </div>
   <div class="rating-movies table-wrap">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Title</th>

          <th scope="col" class="text-center">Ratings</th>

        </tr>

      </thead>
      <tbody >
        <tr *ngFor="let users of movies">
          <th scope="row">{{users.id}}</th>
          <td>{{users.title}}</td>
          <td>
            <form [formGroup]="form">
              <ngx-star-rating formControlName="rating" [id]="users.title" (click)="AddRatings(form.value.rating, users)"></ngx-star-rating>
          </form>


          </td>
        </tr>

      </tbody>
    </table>


   </div>



  </div>

</div>
